body {
}

#TubeContainer {
	position: relative;
}

#BlankTube {
	height: 300px;
}

#TubeIngredients {
	position: absolute;
	width: 850px;
	top: 50px;
	left: 50px;
}

	#TubeIngredients img {
		max-width: 150px;
		max-height: 180px;
		margin-left: 50px;
	}
