body {
}

#Banner, #BestSellers {
	margin: 40px 20px;
	border: 2px solid black;
}

#Banner {
	padding: 50px;
}

	#Banner .BannerItem {
	}

		#Banner .BannerItem .BannerImg {
			width: 256px;
			height: 256px;
		}

		#Banner .BannerItem .BannerText {
			display: inline-block;
			vertical-align: top;
			padding: 20px;
		}

#BestSellers {
	padding: 20px;
}

	#BestSellers .BestSellersItem {
		display: inline-block;
		margin: 40px;
		text-decoration: none;
	}

		#BestSellers .BestSellersItem .BestSellersItemTitle {
			margin: 0px;
			margin-bottom: 10px;
		}

		#BestSellers .BestSellersItem .BestSellersItemImg {
			width: 256px;
			height: 256px;
		}
